.DS_Store
.tmp.env*
*.swp
*.swo

/dist

node_modules
jspm_packages

.serverless

.idea
.run

/node_modules
/package.json
apidiff_tmp

crash.log
coverage.out
outside.coverage

.gitsecret/keys/random_seed
!*.secret

extra/bsv/bin/

/vendor

ISSUES.*.md
cheatsheet
cheatsheet.md

update_test.py
/.env

# Oneserver stuff.
/deployments/oneserver/.env
/deployments/oneserver/.override.env
/oneserver.*.log

.vscode
__debug_bin*

# drawio temp files
*.drawio.bkp
*.drawio.dtmp
